* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 500px;
  height: 400px;
  background-color: rgb(108, 35, 176);
  width: 400px;
  border-radius: 10px;
  border: 2px solid #d3d3d3d3;
}
.fields {
  width: 250px;
  height: 30px;
  margin: 7px 0px 7px 7px;
  border: 1px solid #d3d3d3d3;
  border-radius: 10px;
  padding: 0px 10px;
}
label {
  font-size: 1.2rem;
  font-weight: 500;
}
button {
  width: 250px;
  height: 30px;
  border: 1px solid #d3d3d3d3;
  border-radius: 10px;
  background-color: #ddd;
  cursor: pointer;
}
button:hover {
  background-color: #c2c2c2;
}
.errors {
  margin-top: 0px;
  color: red;
  text-align: center;
}
